.header {
    padding-top: 18px;
    padding-bottom: 18px;    


}

/*.container {
    max-width: 1190px;
    margin: 0 auto;
}*/

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__button{
    background-color: transparent;
    border: 1px solid #232020;

}

.button {
    border-radius: 24px;
    padding: 18px 40px;
    color: black;
    text-transform: uppercase;
    background-color: orange;
}